<form>
  <div class="form-group">
    <%= simple_form_for [@post, @comment] do |f| %>
      <%= f.input :body, label: 'Comment', required: false %><br/>
      <%= f.button :submit, class: 'btn btn-primary'  %>
    <% end %>
  </div>
</form>
