@import "bootstrap-sprockets";
@import "bootstrap";


/* general page styling */


body { 
  padding-bottom: 70px; 
  padding-top: 100px; 
  padding-left: 20px; 
  padding-right: 20px;
}

.hidden-form-container {
  display: none;
}

ul.page-content {
  list-style-type: none;
}

.page-content {
  display: none;
}

.background-color {
  background-color: #EFEFE7;
}


/* navbar */


.navbar-inverse .navbar-header > a {
 color: #FF6600;
}

.navbar-brand {
  font-weight: 100;
  font-size: 20px;
}


/* links */


.create-link {
  font-size: 25px;
}

.post-link {
  font-size: 15px;
}

.posted-by {
  font-size: 12px;
}


/* header */


header {
  margin-top: 25px;
  padding-top: 5px;
  border-top: 1px solid #FF6600;
  color: #777;
}


/* footer */


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #FF6600;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}







