@import "bootstrap-sprockets";
@import "bootstrap";
@import "header";

/* GENERAL */

body {
  padding-top: 100px;
}

a, a:hover { text-decoration: none;}

.hidden-form-container { display: none; }

ul{
  list-style-type: none;
  padding: 0px;
}

.page-content { display: none; }

.background-color { background-color: #EFEFE7; }

textarea, input {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* links */

.create-link {
  font-size: 25px;
}

.post-link {
  width: 30%;
  font-size: 15px;
}

.posted-by {
  font-size: 12px;
}


/* header */





/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #FF6600;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
